aiofiles
aiosmtplib
alembic
annotated-types
anyio
APScheduler
async-timeout
asyncmy
asyncpg
bcrypt
blinker
certifi
cffi
charset-normalizer
click
cryptography
Deprecated
dnspython
ecdsa
email-validator
et-xmlfile
exceptiongroup
fastapi
fastapi-mail
fpdf
greenlet
h11
idna
importlib_resources
iniconfig
Jinja2
jwt
limits
linecache2
Mako
MarkupSafe
mysql-connector
mysql-connector-python
mysqlclient
numpy
openpyxl
packaging
pandas
passlib
pillow
pip
pluggy
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-core
pydantic-settings
PyJWT
PyMySQL
pytest
python-dateutil
python-decouple
python-dotenv
python-jose
python-multipart
pytz
requests
requests-toolbelt
rsa
setuptools
six
slowapi
sniffio
SQLAlchemy
SQLAlchemy-Utils
starlette
tomli
tqdm
traceback2
typing_extensions
# tzdata
# tzloca
urllib3
uvicorn
unittest2
wrapt