aiofiles==0.1.0
aiosmtplib==2.0.0
alembic==1.10.4
annotated-types==0.5.0
anyio==3.6.2
APScheduler==3.10.4
async-timeout==3.0.1
asyncmy==9.0.0
asyncpg==0.27.0
bcrypt==3.2.0
blinker==1.4
certifi==2023.6.15
cffi==1.15.1
charset-normalizer==2.1.1
click==8.0.4
cryptography==39.0.1
Deprecated==1.2.14
dnspython==2.2.1
ecdsa==0.17.0
email-validator==1.3.1
et-xmlfile==1.1.0
exceptiongroup==1.0.0
fastapi==0.95.0
fastapi-mail==1.0.0
fpdf==1.7.2
greenlet==2.0.2
h11==0.14.0
idna==3.4
importlib_resources==5.10.2
iniconfig==1.1.1
Jinja2==3.1.2
jwt==1.0.0
limits==1.0.0
linecache2==1.0.0
Mako==1.2.4
MarkupSafe==2.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.31
mysqlclient==2.1.1
numpy==1.23.3
openpyxl==3.0.10
packaging==21.3
pandas==2.0.1
passlib==1.7.4
pillow==9.2.0
pip==21.3.1
pluggy==1.0.0
psycopg2-binary==2.9.3
pyasn1==0.4.8
pycparser==2.21
pydantic==1.10.7
pydantic-core==2.2.1
pydantic-settings==1.0.0
PyJWT==2.4.0
PyMySQL==1.0.2
pytest==7.1.2
python-dateutil==2.8.2
python-decouple==3.5
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
pytz==2023.3
requests==2.28.1
requests-toolbelt==0.9.1
rsa==4.9
setuptools==65.5.0
six==1.16.0
slowapi==0.1.0
sniffio==1.3.0
SQLAlchemy==1.4.46
SQLAlchemy-Utils==0.37.8
starlette==0.20.4
tomli==2.0.1
tqdm==4.64.1
traceback2==1.4.0
typing_extensions==4.3.0
tzdata==2023.3
tzlocal==4.2
urllib3==1.26.12
uvicorn==0.21.1
unittest2==1.1.0
wrapt==1.14.1